*{
    text-align: center;
    color: rgb(105, 78, 55);
    background-color: antiquewhite;
    border-radius: 10px;
}


#search
{
   padding:10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}
input{
    border-radius:7px;
    color: brown;
    font-size: large;
    text-align:left;
}



#buton
{
 padding: 10px;   
 background-color: brown;
 color: white;
}
#buton:hover{
    background-color: white;
    color:brown;
}
#tata{
    color: black;
}